.form-group{
    margin: auto;
    flex-direction: column;
}

form textarea{
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    

}

form select{
    border: 1px solid #ccc;
    outline: none;
    min-height: 30px;
}

form input{
    
    margin-bottom: 10px;
    min-height: 30px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    order: 1;
    margin-left: 10px;

}

form{
    justify-content: center;
    text-align: center;
    width: 1500px;
    margin: auto;
    display: grid;
    gap: 2px;
}
form .label-container{
    /* display: none; */
    width: 150px;
    overflow: hidden;
}
form ul {
    margin: 2px 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    order: 2;
}
form ul li{
    color: rgb(119, 118, 118) !important;
    flex-direction: column;
}
.title{
    margin: auto;
    text-align: center;
 }
#contact{
    text-align: center;
}
.btn:hover{
    background-color: #0dd6d6 ;
}
.image-preview img {
    width: 200px;
    height: auto;

}
