{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


{{ form_start(contact) }}
<h2 class="title">Contactez-Nous</h2>
    {% for message in app.session.flashBag.get("message") %}
        <div class="alert {{ app.session.get("status") }}">{{ message }}</div>
    {% endfor %}
{{ form_end(contact) }}

{% endblock %}